<!DOCTYPE html>
<!-- The command to load static and the link must be here -->
{% load static %}
<link rel = "stylesheet" href="{% static '../static/style.css'%}">
<html>

<body>
<!-- If we login we are going to customize the message -->
{% if user.is_authenticated %}
<h1>Hello {{user.username}}!</h1>
<p>Welcome to my first Django project!</p>
<br>
<a href="logout">Logout</a>
{% else %} 
<h1>Hello World!</h1>
<p>Welcome to my first Django project!</p>
<br>
<a href="login">Login</a>
<a href="register">Sign up</a>
{% endif %}
</body>
</html>